<ion-view title="Account" id="page11">
  <ion-nav-buttons side="right" class="has-header">

	<button class = "button icon ion-log-out" ng-click="finish()">Logout</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">

    <div id="account-container11">
      <div>
        <img src="img/qrGCMkzrRXCK6bBzes2W_.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <button id="account-button58" class="button button-positive button-small button-block button-outline">Change photo</button>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <button id="account-button60" style="font-size:15px;" class="button button-positive  button-block" ui-sref="newPassword">Change password</button>
    <button id="account-button61" style="font-size:15px;" class="button button-positive  button-block"  ui-sref="newPhoneNumber">Change phone nubmer</button>
    <form id="account-form13" class="list">
      <ion-toggle toggle-class="toggle-positive" id="account-toggle5">SMS-activation</ion-toggle>
    </form>
	<div class="list">

  <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
     Control question
    </div>
    <select>
      <option>Mother family</option>
      <option selected>...</option>
      <option>...</option>
    </select>
  </label>
  <div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Answer">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>

</div>


</div>

    <div class="bar bar-footer bar-positive">
	<h1 class="title" ui-sref="restaurants">Save</h1>
	</div>
  </ion-content>
</ion-view>
