<ion-view title="Account" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-log-out"> Logout</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="account-container11">
      <div>
        <img src="img/qrGCMkzrRXCK6bBzes2W_.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <button id="account-button58" class="button button-positive button-small button-block button-outline">Change photo</button>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <a ui-sref="newEMail" id="account-button59" style="font-size:15px;" class="button button-positive  button-block">Change e-mail</a>
    <button id="account-button60" style="font-size:15px;" class="button button-positive  button-block">Change password</button>
    <button id="account-button61" style="font-size:15px;" class="button button-positive  button-block">Change phone nubmer</button>
    <form id="account-form13" class="list">
      <ion-toggle toggle-class="toggle-positive" id="account-toggle5">SMS-activation</ion-toggle>
    </form>
    <a ui-sref="restaurants" id="account-button62" style="font-weight:600;font-size:20px;" class="button button-positive  button-block">Save!</a>
  </ion-content>
</ion-view>