<ion-view title="Activation details" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="activationDetails-container5">
      <div>
        <img src="img/qrGCMkzrRXCK6bBzes2W_.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <button id="activationDetails-button22" class="button button-positive button-small button-block">Add photo to your profile</button>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div id="activationDetails-container6">
      <form id="activationDetails-form9" class="list">
        <label class="item item-input item-floating-label" id="activationDetails-input14">
          <span class="input-label">Your contact nubmer</span>
          <input type="tel" placeholder="Enter you phone nubmer*">
        </label>
        <label class="item item-input item-floating-label" id="activationDetails-input15">
          <span class="input-label">Your age</span>
          <input type="number" placeholder="Choose your age*">
        </label>
      </form>
    </div>
    <form id="activationDetails-form10" class="list">
      <label class="item item-select" id="activationDetails-select6">
        <span class="input-label">Cuisine</span>
        <select>
          <option>Ukrainian</option>
          <option>Chinese</option>
          <option>Italian</option>
          <option>Spanish</option>
          <option></option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="activationDetails-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:10px;">All
        <strong>required</strong> details are marked with *</p>
    </div>
    <button id="activationDetails-button23" class="button button-positive  button-block">Finish!</button>
  </ion-content>
</ion-view>