<ion-view title="Add dishes" id="page33">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="addDishes-container20">
      <div id="addDishes-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Main dishes :</strong>
        </p>

        <hr>
      </div>
    </div>
    <div id="addDishes-container21">
      <form id="addDishes-form34" class="list">
        <ion-radio id="addDishes-radio32" class="positive">Main dish #1</ion-radio>
        <ion-radio id="addDishes-radio33" class="positive">Main dish #2</ion-radio>
        <ion-radio id="addDishes-radio34" class="positive">Main dish #3</ion-radio>
      </form>
      <div id="addDishes-markdown38" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Desserts :</strong>
        </p>

        <hr>
      </div>
    </div>
    <form id="addDishes-form35" class="list">
      <ion-radio id="addDishes-radio35" class="positive">Dessert #1</ion-radio>
      <ion-radio id="addDishes-radio36" class="positive">Dessert #2</ion-radio>
      <ion-radio id="addDishes-radio37" class="positive">Dessert #3</ion-radio>
      
    </form>
  </ion-content>
   <div class="bar bar-footer bar-balanced" ui-sref="myRestaurant">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>