<ion-view title="Add order" id="page31">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="addOrder-form11" class="list">
      <label class="item item-select" id="addOrder-select10">
        <span class="input-label">Choose restaurant</span>
        <select>
          <option>Test</option>
          <option>Test</option>
          <option>Test</option>
        </select>
      </label>
    </form>
    <button id="addOrder-button59" class="button button-positive  button-full button-outline icon-right ion-fork icon-left ion-fork">Choose food</button>
    <form id="addOrder-form20" class="list">
      <label class="item item-input" id="addOrder-input24">
        <span class="input-label">Date</span>
        <input type="date" placeholder="07.07.2017">
      </label>
      <label class="item item-input" id="addOrder-input23">
        <span class="input-label">Time</span>
        <input type="time" placeholder="18.00">
      </label>
      <ion-checkbox id="addOrder-checkbox2">I agree with something</ion-checkbox>
    </form>
    <div class="bar bar-footer bar-balanced" ng-click="go()">
 <h1 class="title" align="center">Order</h1>
  </ion-content>

</ion-view>
