<ion-view title="Dishes" id="page25">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="dishes-container13">
      <div id="dishes-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Main dishes :</strong>
        </p>

        <hr>
      </div>
    </div>
    <div id="dishes-container14">
      <form id="dishes-form27" class="list">
        <ion-radio id="dishes-radio8" class="positive">Main dish #1</ion-radio>
        <ion-radio id="dishes-radio9" class="positive">Main dish #2</ion-radio>
        <ion-radio id="dishes-radio10" class="positive">Main dish #3</ion-radio>
      </form>
      <div id="dishes-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Desserts :</strong>
        </p>

        <hr>
      </div>
    </div>
    <form id="dishes-form26" class="list">
      <ion-radio id="dishes-radio5" class="positive">Dessert #1</ion-radio>
      <ion-radio id="dishes-radio6" class="positive">Dessert #2</ion-radio>
      <ion-radio id="dishes-radio7" class="positive">Dessert #3</ion-radio>
    </form>
  </ion-content>
    <div class="bar bar-footer bar-balanced" ui-sref="order">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>