<ion-view title="Dishes" id="page26">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="dishes2-container15">
      <div id="dishes2-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Main dishes :</strong>
        </p>

        <hr>
      </div>
    </div>
    <div id="dishes2-container16">
      <form id="dishes2-form28" class="list">
        <ion-radio id="dishes2-radio11" class="positive">Main dish #1</ion-radio>
        <ion-radio id="dishes2-radio12" class="positive">Main dish #2</ion-radio>
        <ion-radio id="dishes2-radio13" class="positive">Main dish #3</ion-radio>
      </form>
      <div id="dishes2-markdown30" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;">
          <strong>Desserts :</strong>
        </p>

        <hr>
      </div>
    </div>
    <form id="dishes2-form29" class="list">
      <ion-radio id="dishes2-radio14" class="positive">Dessert #1</ion-radio>
      <ion-radio id="dishes2-radio15" class="positive">Dessert #2</ion-radio>
      <ion-radio id="dishes2-radio16" class="positive">Dessert #3</ion-radio>
    </form>
  </ion-content>
    <div class="bar bar-footer bar-balanced" ui-sref="order2">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>