<ion-view title="Done" id="page16">
  <ion-content padding="true" class="has-header">
    <h3 id="done-heading3" style="color:#000000;font-weight:600;text-align:center;">You have successfully changed your e-mail</h3>
    <div id="done-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Now you can all
        <strong>features</strong> in our app</p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="account" id="done-button72" style="left:-10px;" class="button button-positive  button-full button-outline">Let`s go</a>
    </div>
  </ion-content>
</ion-view>