<ion-view title="Done" id="page18">
  <ion-content padding="true" class="has-header">
    <h3 id="done3-heading5" style="color:#000000;font-weight:400;text-align:center;">You have successfully changed your phone number</h3>
    <div id="done3-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Now you can all
        <strong>features</strong> in our app</p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="account" id="done3-button74" style="left:-10px;" class="button button-positive  button-full button-outline">Let`s go</a>
    </div>
  </ion-content>
</ion-view>