<ion-view title="Login" id="page2">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="login-form3" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button8" class="button button-positive  button-block icon-right ion-log-in">Log in</button>
      <a ui-sref="signUp" id="login-button9" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>