<ion-view title="Login" id="page3">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="login2-form4" class="list">
      <ion-list id="login2-list3">
        <label class="item item-input" id="login2-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login2-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login2-button10" class="button button-positive  button-block icon-right ion-log-in">Log in</button>
      <a ui-sref="signUp2" id="login2-button11" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>