<ion-view title="My orders" id="page14">
  <ion-content padding="false" class="has-header">
    <div id="myOrders-container10">
      <div id="myOrders-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;font-size:15px;"> Today :</p>

        <hr>
      </div>
      <ion-list id="myOrders-list10" class="manual-list-fullwidth">
        <ion-item class="item-thumbnail-left item-icon-right" id="myOrders-list-item36" ui-sref="order">
          <img src="img/OIupwXsKQhSzVEnnKtso_Inside_Le_Procope.jpg">
          <h2>Restaurant name : </h2>
          <p>Hour of reservation :</p>
          <i class="icon ion-android-arrow-dropright"></i>
          <ion-option-button class="button-balanced">Seats</ion-option-button>
          <ion-option-button class="button-assertive">Cancel</ion-option-button>
        </ion-item>
      </ion-list>
      <ion-list id="myOrders-list15" class="manual-list-fullwidth">
        <ion-item class="item-thumbnail-left item-icon-right" id="myOrders-list-item44" ui-sref="order2">
          <img src="img/OIupwXsKQhSzVEnnKtso_Inside_Le_Procope.jpg">
          <h2>Restaurant name : </h2>
          <p>Hour of reservation :</p>
          <i class="icon ion-android-arrow-dropright"></i>
          <ion-option-button class="button-balanced">Seats</ion-option-button>
          <ion-option-button class="button-assertive">Cancel</ion-option-button>
        </ion-item>
      </ion-list>
      <ion-list id="myOrders-list14" class="manual-list-fullwidth">
        <ion-item class="item-thumbnail-left item-icon-right" id="myOrders-list-item42" ui-sref="order3">
          <img src="img/OIupwXsKQhSzVEnnKtso_Inside_Le_Procope.jpg">
          <h2>Restaurant name : </h2>
          <p>Hour of reservation :</p>
          <i class="icon ion-android-arrow-dropright"></i>
          <ion-option-button class="button-balanced">Seats</ion-option-button>
          <ion-option-button class="button-assertive">Cancel</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div id="myOrders-container12">
      <div id="myOrders-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
        <hr>

        <p style="color:#000000;font-size:15px;"> 2 days ago :</p>

        <hr>
      </div>
      <ion-list id="myOrders-list11" class="manual-list-fullwidth">
        <ion-item class="item-thumbnail-left" id="myOrders-list-item39">
          <img src="img/V9gOq0cRj2pQFxMg3aXH_restaurant-view.jpg">
          <h2>Restaurant name :</h2>
          <p>Hour of reservation :</p>
          <ion-option-button class="button-dark">Hide</ion-option-button>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="myOrders-list-item45">
          <img src="img/V9gOq0cRj2pQFxMg3aXH_restaurant-view.jpg">
          <h2>Restaurant name :</h2>
          <p>Hour of reservation :</p>
          <ion-option-button class="button-dark">Hide</ion-option-button>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="myOrders-list-item46">
          <img src="img/V9gOq0cRj2pQFxMg3aXH_restaurant-view.jpg">
          <h2>Restaurant name :</h2>
          <p>Hour of reservation :</p>
          <ion-option-button class="button-dark">Hide</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>