<ion-view title="My restaurant" id="page29">
  <ion-content padding="true" class="has-header">
    <ion-list id="myRestaurant-list26" class="manual-list-fullwidth">
      <ion-item class="item-thumbnail-left" id="myRestaurant-list-item74">
        <img src="img/pACbz9ZPRtGCnsKcOdIm_restaurant-view.jpg">
        <h2>Street :</h2>
        <p>Building № :</p>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <a ui-sref="addDishes" id="myRestaurant-button37" style="left:-10px;" class="button button-positive  button-full">Setup menu</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="changeNubmerOfSeats" id="myRestaurant-button38" style="left:-10px;" class="button button-positive  button-full">Change number of seats</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="myRestaurant-button39" style="left:-10px;" class="button button-assertive  button-full" ng-click="cancel()">Delete my restaurant</button>
    </div>
    <div style="margin-right:-20px;">
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced" ui-sref="restaurants2">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>
