<ion-view title="Order" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="order-list16" class="manual-list-fullwidth">
      <ion-item class="item-thumbnail-left" id="order-list-item47">
        <img src="img/aRQGEqRwRiisgkqtoANG_restaurant-view.jpg">
        <h2>Restaurant name :</h2>
        <p style="white-space:normal;"> Cuisine :</p>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <a ui-sref="dishes" id="order-button18" style="left:-10px;" class="button button-positive  button-full">Add dishes to order</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="seatsAdding" id="order-button19" style="left:-10px;" class="button button-positive  button-full">Order more seats</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="order-button24" style="left:-10px;" class="button button-assertive  button-full">Cancel order</button>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-balanced" ui-sref="myOrders">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>