<ion-view title="Order" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="order3-list18" class="manual-list-fullwidth">
      <ion-item class="item-thumbnail-left" id="order3-list-item49">
        <img src="img/aRQGEqRwRiisgkqtoANG_restaurant-view.jpg">
        <h2>Restaurant name :</h2>
        <p style="white-space:normal;"> Cuisine :</p>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <a ui-sref="dishes3" id="order3-button28" style="left:-10px;" class="button button-positive  button-full">Add dishes to order</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="seatsAdding3" id="order3-button29" style="left:-10px;" class="button button-positive  button-full">Order more seats</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="order3-button30" style="left:-10px;" class="button button-assertive  button-full" ng-click="cancel()">Cancel order</button>
    </div>
  </ion-content>
   <div class="bar bar-footer bar-balanced" ui-sref="myOrders">
<h1 class="title" align="center">Go back</h1>
</div>
</ion-view>
