<ion-view title="Restaurants" id="page28">

  <ion-content padding="false" class=" manual-remove-top-padding has-header">

</div>
    <div id="restaurants2-markdown33" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;font-size:20px;">
        <strong>My restaurants</strong>
      </p>

      <hr>
    </div>
    <ion-list id="restaurants2-list25">
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item71" ui-sref="myRestaurant">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
        <ion-option-button class="button-positive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item72" ui-sref="myRestaurant2">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
        <ion-option-button class="button-positive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item73" ui-sref="myRestaurant3">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
        <ion-option-button class="button-positive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <div id="restaurants2-markdown34" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;font-size:20px;">
        <strong>All restaurants</strong>
      </p>

      <hr>
    </div>
    <ion-list id="restaurants2-list22">
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item62">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item63">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="restaurants2-list-item64">
        <img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
        <h2>Name :</h2>
        <p>Seats :</p>
        <i class="icon ion-android-arrow-dropright"></i>
		
      </ion-item>
    </ion-list>
  </ion-content>
    <div class="tabs tabs-icon-left">
  <a class="tab-item" ui-sref="restaurants2">
    <i class="icon ion-home"></i>
    Restaurants
  </a>
  <a class="tab-item" ui-sref="ownerAccount" >
    <i class="icon ion-gear-a"></i>
    My account
  </a>
</ion-view>