<ion-view title="Restaurants" id="page10">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="restaurants-container8">
      <form id="restaurants-form12" class="list">
        <ion-toggle toggle-class="toggle-positive" id="restaurants-toggle4">Sort by free tables</ion-toggle>
      </form>
    </div>
    <ion-list id="restaurants-list7">
      <ion-item class="item-avatar item-icon-right positive" id="restaurants-list-item15">
        <img src="img/l8dX69LvRjiCYccm7eOd_Salaamahut.jpg">
        <h2positive>Restaurant Name
          <p style="white-space:normal;">Cuisine :</p>
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-balanced">Free seats</ion-option-button>
          <ion-option-button class="button-assertive">Block</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="restaurants-list-item22">
        <img src="img/l8dX69LvRjiCYccm7eOd_Salaamahut.jpg">
        <h2positive>Restaurant Name
          <p style="white-space:normal;">Cuisine :</p>
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-balanced">Free seats</ion-option-button>
          <ion-option-button class="button-assertive">Block</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="restaurants-list-item23">
        <img src="img/l8dX69LvRjiCYccm7eOd_Salaamahut.jpg">
        <h2positive>Restaurant Name
          <p style="white-space:normal;">Cuisine :</p>
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-balanced">Free seats</ion-option-button>
          <ion-option-button class="button-assertive">Block</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="restaurants-list-item24">
        <img src="img/l8dX69LvRjiCYccm7eOd_Salaamahut.jpg">
        <h2positive>Restaurant Name
          <p style="white-space:normal;">Cuisine :</p>
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-balanced">Free seats</ion-option-button>
          <ion-option-button class="button-assertive">Block</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="restaurants-list-item25">
        <img src="img/l8dX69LvRjiCYccm7eOd_Salaamahut.jpg">
        <h2positive>Restaurant Name
          <p style="white-space:normal;">Cuisine :</p>
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-balanced">Free seats</ion-option-button>
          <ion-option-button class="button-assertive">Block</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="restaurants-button-bar9" class="button-bar">
      <button id="restaurants-button55" style="font-weight:500;font-size:15px;" class="button button-dark button-small"> Find</button>
      <button id="restaurants-button56" style="font-weight:500;font-size:15px;" class="button button-positive button-small"> Orders</button>
      <a ui-sref="account" id="restaurants-button57" style="font-weight:500;font-size:15px;" class="button button-positive button-small">Account</a>
    </div>
  </ion-content>
</ion-view>