<ion-view title="Restaurants" id="page28">

  <ion-content padding="false" class=" manual-remove-top-padding has-header">

</div>
    <div class="list">
   <div class="item item-divider" >My restaurants</div>
   
		<div class="item item-thumbnail-left item-icon-right " id="restaurants2-list-item64" ui-sref="myRestaurant">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"></i></div>
   <div class="item item-thumbnail-left item-icon-right"  ui-sref="myRestaurant2">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"  ui-sref="myRestaurant3"></i></div>
   <div class="item item-thumbnail-left item-icon-right">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"></i></div>

   <div class="item item-divider">All restaurants</div>
   <div class="item item-thumbnail-left item-icon-right">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"></i></div>
   <div class="item item-thumbnail-left item-icon-right">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"></i></div>
   <div class="item item-thumbnail-left item-icon-right">Restaurant name
		<img src="img/ejWjqVxQSAiPkJLhyhTf_restaurant-view.jpg">
		<h2>Cuisine :</h2>
		<p>Seats :</p>
		<i class="icon ion-android-arrow-dropright"></i></div>
</div>


      </ion-item>
    </ion-list>
  </ion-content>
    <div class="tabs tabs-icon-left">
  <a class="tab-item" ui-sref="restaurants2">
    <i class="icon ion-home"></i>
    Restaurants
  </a>
  <a class="tab-item" ui-sref="ownerAccount" >
    <i class="icon ion-gear-a"></i>
    My account
  </a>
</ion-view>