<ion-view title="Seats adding" id="page23">
  <ion-content padding="true" class="has-header">
    <div id="seatsAdding2-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;font-size:25px;">
        <strong>How many seats do you want to add ?</strong>
      </p>

      <hr>
    </div>
    <form id="seatsAdding2-form23" class="list">
      <label class="item item-input" id="seatsAdding2-input36">
        <span class="input-label">Number</span>
        <input type="number" placeholder="1-5">
      </label>
    </form>
    <div style="margin-right:-20px;">
      <div class="bar bar-footer bar-balanced" ng-click="seats()">
  <h1 class="title" align="center">Add</h1>
    </div>
  </ion-content>
</ion-view>
