<ion-view title="Seats adding" id="page24">
  <ion-content padding="true" class="has-header">
    <div id="seatsAdding3-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;font-size:25px;">
        <strong>How many seats do you want to add ?</strong>
      </p>

      <hr>
    </div>
    <form id="seatsAdding3-form24" class="list">
      <label class="item item-input" id="seatsAdding3-input37">
        <span class="input-label">Number</span>
        <input type="number" placeholder="1-5">
      </label>
    </form>
    <div style="margin-right:-20px;">
      <button id="seatsAdding3-button33" style="left:-10px;" class="button button-balanced button-large button-full">Add</button>
    </div>
  </ion-content>
</ion-view>