<ion-view title="Sign up" id="page4">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="signUp-form5" class="list">
      <ion-list id="signUp-list4">
         <div class="list">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" ng-model="registration.name">
          </label>
          <label class="item item-input">
            <span class="input-label">Surname</span>
            <input type="text" ng-model="registration.surname">
          </label>
		   <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input type="text" ng-model="registration.email">
          </label>
		   <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="registration.pass">
          </label>
        </div>
	    <button class="button button-full button-positive" ng-click="signUp()">
          Sign in
        </button>
    </form>
  </ion-content>
</ion-view>