<ion-view title="Sign up" id="page5">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="signUp2-form6" class="list">
      <ion-list id="signUp2-list5">
        <label class="item item-input" id="signUp2-input8">
          <span class="input-label">Restaurant name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp2-input9">
          <span class="input-label">Your name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signUp2-input10">
          <span class="input-label">Your ID</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <label class="item item-input" id="signUp2-input19">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-select" id="signUp2-select1">
        <span class="input-label">Cuisine</span>
        <select>
          <option>Ukrainian</option>
          <option>Chinese</option>
          <option>European</option>
          <option>Asian</option>
          <option>American</option>
          <option>Italian</option>
          <option>Spanish</option>
        </select>
      </label>
      <label class="item item-select" id="signUp2-select2">
        <span class="input-label">Restaurant type</span>
        <select>
          <option>Restaurant</option>
          <option>Bar</option>
          <option>Bistro</option>
          <option>Cafe</option>
          <option>Fastfood</option>
        </select>
      </label>
      <a ui-sref="activation2" id="signUp2-button13" class="button button-positive  button-full icon-right ion-log-in">Sign up</a>
    </form>
  </ion-content>
</ion-view>