<ion-view title="Sign up" id="page4">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="signUp-form5" class="list">
      <ion-list id="signUp-list4">
        <label class="item item-input" id="signUp-input5">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input12">
          <span class="input-label">Surname</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="signUp-input18">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="signUp-input16">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="signUp-input17">
        <span class="input-label">Confirm password</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <div id="signUp-container4">
        <div id="signUp-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Add your
            <strong>photo</strong>
          </p>
        </div>
        <div>
          <img src="img/Users20Add20user.ico" style="display: block; width: 15%; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <a ui-sref="activation" id="signUp-button12" style="color:#EFF2F6;" class="button button-positive  button-full icon-right ion-log-in">Sign up</a>
    </form>
  </ion-content>
</ion-view>