<ion-view title="Type of user" hide-back-button="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h2 id="typeOfUser-heading1" style="color:#000000;font-weight:600;text-align:center;">Welcome to our app</h2>
    <div>
      <p>
      </p>
      <center>
        <img src="https://lh4.googleusercontent.com/WXMjiAhMDIVRSWSBcq5LzJ437rqWz66ZZevdVzsioFaFm-_OpQNLB4phkibBZk-WhcjnBIjX9NQIPwzsRlkDTqUZEX9V2x4wU0BK_4ZbPzYUKVBII5NP9wLLkKHBvILcS9_NHJ4C-Ii2pa-gww" height="100" weight="100" <="" center="">
        <p></p>
      </center>
    </div>
    <p></p>
    <div id="typeOfUser-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Choose your type of
        <strong>user</strong>
      </p>
    </div>
    <div id="typeOfUser-button-bar1" class="button-bar">
      <a ui-sref="login" id="typeOfUser-button4" style="font-size:20px;" class="button button-positive  button-block button-outline">Visitor</a>
    </div>
    <div id="typeOfUser-button-bar2" class="button-bar">
      <a ui-sref="login2" id="typeOfUser-button7" style="font-size:20px;" class="button button-positive  button-block button-outline">Restaurauter</a>
    </div>
    <div id="typeOfUser-container3">
      <form id="typeOfUser-form2" class="list">
        <ion-toggle toggle-class="toggle-positive" id="typeOfUser-toggle3">Remember me</ion-toggle>
      </form>
    </div>
  </ion-content>
</ion-view>